.App {
  display: grid;
  wight: 1000px;
  margin: 0 auto;

  grid-template-areas:
  'h h'
  'n c';
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
}


.App-content{
  grid-area: c;
  background-color: aquamarine;
}
